.overlay {
  display         : none;
  height          : 100%;
  width           : 100%;
  position        : fixed;
  top             : 0;
  left            : 0;
  z-index         : 1;
  background-color: rgba(0, 0, 0, 0.6);
  cursor          : pointer;
}

.overlay h1 {
  font-size: 50px;
  color    : white;
  position : absolute;
  left     : 50%;
  top      : 50%;
  transform: translate(-50%, -50%);
}

.content {
  text-align: center;
}