h1 {
  text-align: center;
  text-transform: capitalize;
}

.collapsible {
  background-color: burlywood;
  width: 100%;
  padding: .5rem;
  font-size: 20px;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover, .active{
  background-color: darkgoldenrod;
}

.content {
  background-color: rgb(255, 227, 158);
  padding: .5rem;
  display: none;
}